<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팜스랜드</title>
</head>
<body>
    <%- include('../navbar'); %>
    <main>
        <img id="banner" src="images/사업영역/배너_사업영역.jpg" alt="">
        <%- include('leftMenu', { active : 'distribution' }); %>
        <div class="container">
            <div class="sub-container">
                <img src="images/사업영역/distribution.jpg" alt="" width="100%" height="auto">
            </div>
        </div>
        <%- include('../emblems', { clients }); %>
    </main>
</body>
</html>