<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팜스랜드</title>
    <style>
        img {
            width: calc(100% + 40px);
            margin-left: calc(-20px);
            margin-right: calc(-20px);
        }
    </style>
</head>

<body>
    <%- include('navbar'); %>
    <main>
        <img src="images/main.jpg" alt="">
    </main>
</body>

</html>