<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팜스랜드</title>
    <link rel="stylesheet" href="font.css">
    <style>
        body {
            margin : 0 auto;
            overflow-x: hidden;
        }

        #banner {
            width: 100%;
            height: auto;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .sub-container {
            width: 1200px;
            margin-top: 100px;
        }

        #title {
            margin-bottom: 30px;
        }

        .navigation-bar {
            width: 100%;
            height: 100px;
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .logo {
            display: inline-block;
            vertical-align: top;
            width: 270px;
            margin-right: 100px;
            margin-top: 15px;
            cursor: pointer;
        }

        .navbar-menu {
            font-size: 2.4rem;
            cursor: pointer;
            width: 100%;
        }

        .container_menu { 
            height: 100%;
            margin-left: 110px;
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .dropdown {
            margin-top: 20px;
            position: relative;
            display: inline-block;
            width: 140px;
            text-align: center;
        }

        .dropdown-content {
            position: absolute;
            color:white;
            z-index: 2;
            top: 50px;
            font-weight: 400;
            transition: 0.7s ease height;

            overflow: hidden;
            height: 0px;
            width: 140px;
        }

        .dropdown-content.on {
            height: 200px;
            display: block;
        }

        .dropdown-content>ul {
            list-style: none;
            text-align: center;
            font-size: 1.8rem;
            padding-left: 0px;
        }

        .dropdown-content>ul>li {
            padding-top: 7px;
            padding-bottom: 7px;
            line-height: 1.4;
            cursor: pointer;
        }

        .dropdown-content li:hover {background-color: #312782; font-weight: 700;}

        .container_dropdown {
            position: absolute;
            width: 100%;
            z-index: 1;
            top: 100px;
            height: 0px;
            background-color: black;
            opacity: 0.85;
            overflow: hidden;
            transition: 0.7s ease height;
        }

        .container_dropdown.on {
            height: 200px;
        }
    </style>
</head>

<body>
    <nav class="navigation-bar spoqaHanSans bold">
        <img class="logo" src="/images/logo2.jpg" alt="팜스랜드" onclick="location.href='/'">

        <div class="container_menu" id="container_menu">
            <div class="dropdown">
                <span class="navbar-menu">회사소개</span>
                <div class="dropdown-content">
                    <ul>
                        <li onclick="location.href='/ceo'">CEO 인사말</li>
                        <li onclick="location.href='/directions'">오시는 길</li>
                        <li onclick="location.href='/client'">주거래처</li>
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <span class="navbar-menu">지사안내</span>
                <div class="dropdown-content">
                    <ul>
                        <li onclick="location.href='/branch_choongBook'">충북지사</li>
                        <li onclick="location.href='/branch_seJong'">세종지사</li>
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <span class="navbar-menu">사업영역</span>
                <div class="dropdown-content">
                    <ul>
                        <li onclick="location.href='/distribution'">약국 유통</li>
                        <li onclick="location.href='/oem'">OEM 생산</li>
                        <li onclick="location.href='/store'">온라인 쇼핑몰</li>
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <span class="navbar-menu" onclick="alert('현재 지원되지 않는 기능입니다.')">1:1 문의</span>
            </div>

            <div class="dropdown">
                <span class="navbar-menu" onclick="location.href='http://shop.pharmsland.co.kr/'">온라인쇼핑</span>
            </div>
        </div>
    </nav>
    <div class="container_dropdown" id="container_dropdown"> </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuContainer = document.querySelector('#container_menu');
            const dropdownContainer = document.querySelector('#container_dropdown');
            const containers = [menuContainer, dropdownContainer];
            const dropdowns = document.querySelectorAll('.dropdown-content');

            for (let cIndex=0; cIndex<containers.length; cIndex++) {
                containers[cIndex].addEventListener('mouseover', function() { 
                    dropdownContainer.classList.add('on'); 
                    for (let dIndex=0; dIndex<dropdowns.length; dIndex++) {
                        dropdowns[dIndex].classList.add('on');
                    }
                }); 
            }

            for (let cIndex=0; cIndex<containers.length; cIndex++) {
                containers[cIndex].addEventListener('mouseleave', function() {
                    dropdownContainer.classList.remove('on'); 
                    for (let dIndex=0; dIndex<dropdowns.length; dIndex++) {
                        dropdowns[dIndex].classList.remove('on');
                    }
                }); 
            };
        });
    </script>
</body>

</html>