/* Noto Sans */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype');
}


/* Kanit */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
}

/* SpoqaHanSans */
@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/SpoqaHanSans/SpoqaHanSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/SpoqaHanSans/SpoqaHanSans-Bold.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

.kanit {
    font-family: 'Kanit';
}

.spoqaHanSans {
    font-family: 'SpoqaHanSans';
    letter-spacing: -0.1rem;
}

.regular {
    font-weight: 400;
}

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.h1-like {
    font-size: 4.0rem;
    letter-spacing: -0.1rem;
}

.h2-like {
    font-size: 2.5rem;
}

.h3-like {
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
}

.h5-like {
    font-size: 1.8rem;
}