/* SpoqaHanSans */
@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/SpoqaHanSans/SpoqaHanSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/SpoqaHanSans/SpoqaHanSans-Bold.ttf') format('truetype');
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

.spoqaHanSans {
    font-family: 'SpoqaHanSans';
    letter-spacing: -0.1rem;
}

.montserrat {
    font-family: 'Montserrat';
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.fontsize40 {
    font-size: 4.0rem;
}

.fontsize32 {
    font-size: 3.2rem;
}

.fontsize24 {
    font-size: 2.4rem;
}

.fontsize20 {
    font-size: 2.0rem;
}

.fontsize18 {
    font-size: 1.8rem;
}