<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팜스랜드</title>
    <style>
        #map {
            width: 1200px;
            height: 500px;
        }
    </style>
</head>
<body>
    <%- include('../navbar'); %>
    <main>
        <img id="banner" src="images/지사안내/배너_지사안내.jpg" alt="">
        <%- include('leftMenu', { active : 'seJong' }); %>
        <div class="container">
            <div class="sub-container">
                <img id="title" src="images/지사안내/title_sejong.jpg" alt="" width="100%" height="auto">
                <img src="images/지사안내/세종지사.jpg" alt="" width="100%" height="auto">
                <img src="images/지사안내/오시는길.jpg" alt="" width="auto" height="50px" style="margin-top: 100px;">
                <div id="map"></div>
            </div>
        </div>
        <%- include('../emblems', { clients }); %>

    </main>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5r4jtvbejn"></script>
    <script>
        const pharmsGPS = new naver.maps.LatLng(36.614081898442215, 127.29122076857035);
        var map = new naver.maps.Map('map', {
            center: pharmsGPS,
            zoom: 16,
            zoomControl: true,
        });

        var marker = new naver.maps.Marker({
            position: pharmsGPS,
            map: map
        });
    </script>
</body>
</html>